


/*AULA13


font-family: 'Times New Roman', Times, serif; ( escolhe o tipo de fonte a ser usada no texto,
se n der certo a primeira escolha no navegador ele pula pra próxima)


font-size: define o tamanho da fonte. Se quiser usar o tamanho padrão usar  1em ( 16px)


se eu quiser um tamanho de 40px dividir por 16 e o resultado será em  : 2.5em ( 40px em em)



/* AULA 12 

border-radius - cria as bordas dobraveis na div

border-bottom-right-radius: seleciona a borda de acordo com esquerda , direita ( left,rigth, bottom)



#conteudo3 {  opacity:0.5 ; width: 500px; padding: 30px;  
     background: red; box-shadow: seagreen 10px 10px ;  border-radius: 10px 10px 10px; }


/*AULA 11 Overflow cria um scroll de rolamento e o opacity deixa invisivel 


#conteudo5 { width: 300px; height: 50px; background: steelblue; overflow: auto;  }


/*AULA 10   Nçao altera o tamanho fixo de um elemento no padding
 define a largura do padding e deve ser definido no começo 
*/

*{box-sizing: border-box;}

#conteudo5 { width: 300px; height: 50px;
     background: steelblue; overflow: auto;   }

#conteudo3 {  opacity:0.5 ; width: 500px; padding: 30px;  
     background: red; box-shadow: seagreen 10px 10px ; 
      border-radius: 10px 10px 10px; border-bottom-right-radius:  20px; }
 
#conteudo4 {    padding: 30px; margin-top: 40px;   width:  500px;  
    text-align: left; background: orange; box-shadow: 10px 10px pink; 
 }







/*AULA 8 e 9 TEXT  Text transformation: upercase ( deixa letra maiuscula)

text-transform: lowercase (deixa a letra minuscula)

text-transform: capitalize; só a primeira letra fica maiuscula

text-decoration: underline; linha embaixo

text-decoration: overline; linha acima

text-decoration: line-through; linha no centro do texto 
-------------------------------------------------------------------------------


text-shadom : cria uma sombra no texto

line-height: espaçamento entre linhas do texto 

direction: rtl - texto é lido da direita pra esquerda
direction:ltr - texto é lido da esquerda pra direita
letter-spacing: - É o espaçamento entre as letras do texto.
word-spacing:- É o espaçamento entre palavras 

*/

p{ color: red; text-transform: uppercase;  direction:ltr; letter-spacing: ; word-spacing: 30px;}
h1{ text-align: left; text-decoration: underline; text-shadow: 1px 3px red ;   }
h2 {  text-align: right; text-decoration: overline;  }
h3{  text-align: center; text-decoration: line-through;  }

/*  AULA 7  

padding é o espaçamento interno do bloco definido o madding é o espaçamento externo */


#exemplo1 {background-color: green; color: white;   width: 400px; padding:100px 100px 300px 100px ;  }
#exemplo2 {background-color: tomato; color: #fff; width: 400px; margin-top: 20px ;}


/*coonteudo width; heigth; max-height; mmin-height dentro da "di" */

#conteudo {background-color: green ;  color: white; min-width: 20px; max-height: 500px; padding: 20px;  height: 20px;}





/* A classe pode ser utilizada mais de uma vez, na mesma <>      classes */


.texto-principal {background: green; padding: 20px;}
.fundo-principal {background-color: blue; padding: 20px;}

/* A div só pode ser utilizada uma úncia vez, diferente das classes */

#conteudo2 { background: blue; padding: 20px;}





/*
 
 Seletor universal da página 
*{margin: 0; padding: 0; }

 SELETOR DE TAG 

h1 {color: blue; font-size: 50px;}
p {color: green; font-size: 12px; }
 


AULA1 
h1 { color: blue; font-size: 60px; font-family: tahoma; }


 border é a borda

input[type=text] {  width: 200px; background-color:#ccc; height: 35px; border: none;}

input[type=email] {  width: 200px; background-color:#ccc; height: 35px; border: none;}

input[type=submit] {  width: 50px; background-color:green; height: 35px; border: none; cursor: pointer; color:white;}


AULA 4

h1,h2,p { color: red; text-align: center;}


*/

